@import 'assets/style/util';

.alert {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 1.5rem 0 1rem 0;
  padding: 1.5rem;
  border-radius: .5rem;
  background-color: $primary-color;
  color: #fff;
  font-size: 1.6rem;
}

.alert__close {
  height: 1em;
  margin-left: 1rem;
  color: #fff;
  font-size: inherit;
  cursor: pointer;
}

.alert--error {
  background-color: $error-color;
}

.alert--tip {
  background-color: $tip-color;
}
