@import 'assets/style/util';

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: $background-color;
  transition: .3s;

  .nav + & {
    margin: 8rem 0 0;
  }

  @include notebook() {
    .nav--active + & {
      margin-left: 24rem;
    }
  }
}
