@import 'assets/style/util';

.form-wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  max-width: 490px;
  padding: 3rem;
  border: solid 1px $border-color;
  border-radius: .5rem;
  background-color: $background-color;
}
