@import 'assets/style/util';

.nav {
  position: fixed;
  display: block;
  top: 8rem;
  bottom: 0;
  left: 0;
  width: 0;
  background-color: $background-color;
  overflow: hidden;
  z-index: 100;
  transition: .3s;

  &::after {
    @include after-line(1px, right, $border-color);
  }
}

.nav--active {
  width: 24rem;
}

.nav-menu {
  padding: 2rem 1.2rem 2rem 0;
  list-style: none;
}

.nav-menu__item {
  position: relative;
  display: block;
  margin-bottom: 1rem;
  border: solid 1px $border-color;
  border-left: none;
  border-top-right-radius: 1.5rem;
  border-bottom-right-radius: 1.5rem;
  overflow: hidden;
  transition: .2s;
}

.nav-menu__link {
  display: block;
  padding: 1rem 0;
  text-decoration: none;
  cursor: pointer;

  &:hover {
    background-color: $background-shaded-color;
  }
}

.nav-menu__link--active {
  background-color: $background-shaded-color;
}

.nav-menu__icon {
  position: absolute;
  display: block;
  top: 50%;
  left: 1.2rem;
  height: 2.8rem;
  transform: translateY(-50%);
  color: $text-color;
  font-size: 2.8rem;
  line-height: 1;
}

.nav-menu__text {
  display: inline-block;
  margin-left: 4.6rem;
  color: $text-color;
  font-size: 2rem;
  white-space: nowrap;
  line-height: 1;
  vertical-align: middle;

  &::first-letter {
    text-transform: uppercase;
  }
}
