@import 'assets/style/util';

.search-input {
  position: relative;
  display: none;
  flex-grow: 1;
  max-width: 600px;
  opacity: 1;

  @include tablet-portrait() {
    display: block;
  }

  @include notebook() {
    display: block;
  }

  &__field {
    width: 100%;
    height: 6rem;
    margin-right: 10px;
    padding: 0 6rem;
    border: solid 1px $border-color;
    border-radius: .6rem;
    background-color: $background-color;
    outline: none;
    color: $text-color;
    font-size: 1.6rem;
    line-height: 6rem;
    transition: .2s;

    &:focus {
      border-color: $primary-color;
    }
  }

  &__icon {
    position: absolute;
    display: block;
    top: 50%;
    height: 3rem;
    transform: translateY(-50%);
    color: $text-color;
    font-size: 3rem;
    line-height: 1;
    cursor: pointer;
    transition: .05s;

    &:first-of-type {
      left: 1.5rem;
    }

    &:last-of-type {
      right: 1.5rem;
    }

    &:active {
      font-size: 2.9rem;
    }
  }
}
