@import 'assets/style/util';

.burger {
  position: relative;
  width: 6rem;
  height: 6rem;
  margin: 1rem 0;
  border: solid 1px $border-color;
  border-radius: 50%;
  background-color: $background-color;
  cursor: pointer;
  transition: .2s;

  &:hover {
    background-color: $background-shaded-color;
  }

  &__icon {
    position: absolute;
    display: block;
    top: -1px;
    left: -1px;
    width: 6rem;
    height: 6rem;
    color: $text-color;
    font-size: 3.5rem;
    line-height: 6rem;
    text-align: center;
    transition: .3s;

    &:first-of-type {
      opacity: 1;
    }

    &:last-of-type {
      opacity: 0;
    }
  }

  &--active &__icon {
    &:first-of-type {
      opacity: 0;
    }

    &:last-of-type {
      opacity: 1;
    }
  }
}
