@import 'assets/style/util';

.header {
  position: fixed;
  display: flex;
  top: 0;
  right: 0;
  left: 0;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  height: 8rem;
  background-color: $background-color;
  z-index: 101;

  &::after {
    @include after-line(1px, bottom, $border-color);
  }

  &>* {
    margin: 0 2rem !important;
  }
}
