@import 'assets/style/util';

.form-input {
  position: relative;
  margin: 2rem 0;
}

.form-input__field {
  position: relative;
  width: 100%;
  height: 3.5em;
  padding: 0 1em;
  border: solid 1px $border-color;
  border-radius: .5rem;
  background-color: transparent;
  outline: none;
  color: $text-color;
  font-size: 1.6rem;
  line-height: 3.5em;
  z-index: 1;
  transition: .2s;

  &:focus {
    border-color: $primary-color;
    box-shadow: inset 0 0 0 1px $primary-color;
  }
}

.form-input__label {
  position: absolute;
  top: calc(3.5em / 2);
  left: 0;
  margin: 0 1px;
  padding: 0 1em;
  transform: translateY(-50%);
  background-color: $background-color;
  color: $text-color;
  font-size: 1.6rem;
  line-height: 1;
  z-index: 0;
  transition: .2s ease-out, z-index 0s;
}

.form-input--error .form-input__field {
  border-color: $error-color;
  box-shadow: inset 0 0 0 1px $error-color;
}

.form-input--sm .form-input__field,
.form-input--sm .form-input__label {
  font-size: 1.4rem;
}

.form-input--lg .form-input__field,
.form-input--lg .form-input__label {
  font-size: 1.8rem;
}

.form-input__alert,
.form-input__tip {
  display: block;
  margin-top: .4em;
  font-size: 1.4rem;
}

.form-input__tip {
  color: $tip-color;
}

.form-input__icon {
  margin-right: .1em;
  font-size: 1.6rem;
  vertical-align: middle;
}

.form-input--error .form-input__alert,
.form-input--error .form-input__label {
  color: $error-color;
}

.form-input--fill .form-input__label,
.form-input__field:focus + .form-input__label {
  top: 0;
  margin: 0 .5em;
  padding: 0 .5em;
  font-size: 1.4rem;
  line-height: 1;
  z-index: 2;
}
