@import 'assets/style/util';

.tip {
  position: relative;
  display: block;

  &__text {
    position: absolute;
    display: block;
    bottom: 100%;
    left: 50%;
    padding: 1rem;
    border-radius: .5rem;
    transform: translateX(-50%);
    background-color: $tip-color;
    color: $text-bright-color;
    font-size: 1.6rem;
    opacity: 0;
    visibility: hidden;
    white-space: nowrap;
    transition: .3s;

    &::after {
      position: absolute;
      display: block;
      top: 100%;
      left: 50%;
      width: 0%;
      height: 0%;
      border-style: solid;
      border-color: $tip-color transparent transparent transparent;
      border-width: 6px 6px 0 6px;
      transform: translateX(-50%);
      content: "";
    }
  }

  &:hover &__text {
    bottom: 110%;
    opacity: 1;
    visibility: visible;
  }
}
