@mixin after-line($size: 1px, $position: bottom, $color: black) {
  position: absolute;
  display: block;
  content: "";
  background-color: $color;

  @if $position == "top" {
    top: 0;
    right: 0;
    left: 0;
    height: $size;
  }
  @else if $position == "right" {
    top: 0;
    right: 0;
    bottom: 0;
    width: $size;
  }
  @else if $position == "bottom" {
    right: 0;
    bottom: 0;
    left: 0;
    height: $size;
  }
  @else if $position == "left" {
    top: 0;
    bottom: 0;
    left: 0;
    width: $size;
  }
}

@mixin tablet-portrait {
  @media (min-width: $tablet-portrait) and (orientation: portrait) {
    @content;
  }
}

@mixin tablet-landscape {
  @media (min-width: $tablet-landscape) and (orientation: landscape) {
    @content;
  }
}

@mixin notebook {
  @media (min-width: $notebook) {
    @content;
  }
}

@mixin laptop {
  @media (min-width: $laptop) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: $desktop) {
    @content;
  }
}
