$primary-color: var(--#{'primary-color'});
$primary-shaded-color: var(--#{'primary-shaded-color'});
$background-color: var(--#{'background-color'});
$background-shaded-color: var(--#{'background-shaded-color'});
$tip-color: var(--#{'tip-color'});
$border-color: var(--#{'border-color'});
$error-color: var(--#{'error-color'});
$link-color: var(--#{'link-color'});
$text-color: var(--#{'text-color'});
$text-bright-color: var(--#{'text-bright-color'});

$tablet-portrait: 512px;
$tablet-landscape: 1024px;
$notebook: 768px;
$laptop: 1024px;
$desktop: 1200px;

$container-transition: 500;

$colors: (
  light-background: #fff,
  light-background-shaded: shade-color(#fff, 5%),
  light-primary: #80868b,
  light-primary-shaded: shade-color(#80868b, 10%),
  light-tip: #79757a,
  light-border: #c9cbd0,
  light-error: #d93025,
  light-link: #1a73e8,
  light-text: #686469,
  light-text-bright: #dedede,
  dark-background: #24282a,
  dark-background-shaded: shade-color(#24282a, 5%),
  dark-primary: #696e6e,
  dark-primary-shaded: shade-color(#696e6e, 10%),
  dark-tip: #5F6969,
  dark-border: #70757a,
  dark-error: #ff0266,
  dark-link: #b98af6,
  dark-text: #dedede,
  dark-text-bright: #dedede,
);

:export {
  container-transition: $container-transition
}
