@import 'assets/style/util';

:root [data-theme="light"] {
  --primary-color: #{map-get($colors, light-primary)};
  --primary-shaded-color: #{map-get($colors, light-primary-shaded)};
  --background-color: #{map-get($colors, light-background)};
  --background-shaded-color: #{map-get($colors, light-background-shaded)};
  --tip-color: #{map-get($colors, light-tip)};
  --border-color: #{map-get($colors, light-border)};
  --error-color: #{map-get($colors, light-error)};
  --link-color: #{map-get($colors, light-link)};
  --text-color: #{map-get($colors, light-text)};
  --text-bright-color: #{map-get($colors, light-text-bright)};
}

:root [data-theme="dark"] {
  --primary-color: #{map-get($colors, dark-primary)};
  --primary-shaded-color: #{map-get($colors, dark-primary-shaded)};
  --background-color: #{map-get($colors, dark-background)};
  --background-shaded-color: #{map-get($colors, dark-background-shaded)};
  --tip-color: #{map-get($colors, dark-tip)};
  --border-color: #{map-get($colors, dark-border)};
  --error-color: #{map-get($colors, dark-error)};
  --link-color: #{map-get($colors, dark-link)};
  --text-color: #{map-get($colors, dark-text)};
  --text-bright-color: #{map-get($colors, dark-text-bright)};
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  color: $text-color;
  font-size: 10px;
  font-family: roboto, arial, sans-serif;
}

body {
  background-color: $background-color;
}

i {
  color: $text-color;
  font-size: 1rem;
}

a {
  display: inline-block;
  padding: 0 .8em;
  color: $link-color;
  font-size: 1.5rem;
  line-height: 1.2em;
  text-decoration: none;
}

a + a {
  border-left: solid 2px $link-color;
}

p {
  color: $text-color;
  font-size: 1.5rem;
  line-height: 1.2em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $text-color;
  font-weight: lighter;
  line-height: 2em;
  letter-spacing: .05em;
  text-align: center;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1rem;
}

h6 {
  font-size: .5rem;
}

form {
  width: 100%;
}

//start flex helpers

.row {
  flex-basis: 100%;
}

.self-start {
  display: flex;
  justify-content: flex-start;
}

.self-center {
  display: flex;
  justify-content: center;
}

.self-end {
  display: flex;
  justify-content: flex-end;
}

//fix

@-webkit-keyframes autofill {
  to {
    background: transparent;
    color: #666;
  }
}

input:-webkit-autofill {
  -webkit-animation-name: autofill;
  -webkit-animation-fill-mode: both;
}
