@import 'assets/style/util';

.avatar {
  margin: 1rem 0;

  &__image {
    display: block;
    width: 6rem;
    height: 6rem;
    border: solid 1px $border-color;
    border-radius: 50%;
  }

  &__dummy {
    display: block;
    width: 6rem;
    height: 6rem;
    border: solid 1px $border-color;
    border-radius: 50%;
    color: $text-color;
    font-size: 5.2rem;
    text-align: center;
    vertical-align: center;
    line-height: 6rem;
  }
}