@import 'assets/style/util';

.plate {
  position: relative;
  display: block;

  &__text {
    position: absolute;
    display: block;
    bottom: -.2rem;
    left: 50%;
    padding: .2rem .8rem;
    border-radius: .8rem;
    transform: translate(-50%, 0);
    background-color: $tip-color;
    color: $text-bright-color;
    font-size: 1.4rem;
    text-transform: uppercase;
  }
}