<table border="0" cellpadding="0" cellspacing="0" width="100%">
    <tr>
        <td style="color: #153643; font-family: roboto, arial, sans-serif; font-size: 24px; text-align: center">
            <b>Reset password notification!</b>
        </td>
    </tr>
    <tr>
        <td style="padding: 40px 0 30px 0; color: #153643; font-family: roboto, arial, sans-serif; font-size: 16px; line-height: 20px; text-align: center">
            Click on <a
                    target="_blank"
                    href="<?= $host ?>/reset/<?= $id ?>/<?= $token ?>"
                    style="text-decoration: none;">this</a> link if you want to change the password
        </td>
    </tr>
</table>