@import 'assets/style/util';

.btn {
  position: relative;
  display: inline-block;
  margin: 2rem 0;
  padding: .7em 1.2em;
  border: none;
  border-radius: .5rem;
  background-color: $primary-color;
  outline: none;
  color: $text-bright-color;
  font-size: 1.6rem;
  cursor: pointer;
  overflow: hidden;
  transition: .2s;

  &::after {
    content: "";
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
    width: 100%;
    padding: calc(100% + 1.5em) calc(50% + .8em);
    border-radius: 50%;
    transform: translate(-50%, -50%) scale(0);
    background-color: $primary-shaded-color;
    opacity: .48;
  }

  &:hover,
  &:focus {
    background-color: $primary-shaded-color;
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  }
}

.btn--active::after {
  transform: translate(-50%, -50%) scale(1);
  opacity: 0;
  transition: transform .3s ease-in, opacity .5s ease-out;
}

.btn--sm {
  font-size: .8rem;
}

.btn--lg {
  font-size: 1.2rem;
}
